header {
    text-align: center;
}
.item2{
    
    
}
section:not(.item){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.button {
}
.head {
}
.text {
}
.item {
    text-align: center;
}
.text-foter {
    
}
footer{
    text-align: center;
}
.contact {
    text-align: center;
}

hr {
    border: none;
    border-top: 4px solid #333;
    text-align: center;
    width: 95%;
    }